.main-footer {
  padding: 50px 0;

  color: $color-alice-blue;
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 40px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  gap: 31px;

  @include vp-1023 {
    gap: 10px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 18px;
  }
}

.main-footer__logo {
  fill: $color-alice-blue;
  min-width: 70px;

  @include vp-1023 {
    min-width: 38px;
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    min-width: 42px;
    width: 42px;
    height: 22px;
  }
}

.main-footer__social-network {
  min-width: 150px;
  margin: 0 0 0 auto;

  @include vp-767 {
    margin: 0 0 0 -5px;
  }
}

.main-footer .connection a {
  @include vp-1023 {
    padding: 2px 12px;

    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    padding: 8px 10px;
  }
}
