.social-network {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-network a {
  position: relative;
  display: block;

  min-width: 30px;
  min-height: 30px;

  @include vp-1023 {
    min-width: 20px;
    min-height: 20px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    border-radius: 3px;
    opacity: 1;
    outline: 2px solid $color-alice-blue;
  }
}

.social-network svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include vp-1023 {
    max-height: 16px;
  }
}

.social-network span {
  @include visually-hidden;
}


